
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video {
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    margin:0;
    padding:0;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    position:static;
    clip:auto;
    height:auto;
    width:auto;
    overflow:visible;
    margin:0;
}

html {
    background:#ffffff;
    font-size:62.5%;
    -webkit-overflow-scrolling:touch;
    -webkit-tap-highlight-color:#e8e6e7;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

body {
    font-size:1.6rem;
    font-family:'robotoregular';
    -webkit-text-size-adjust:none;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,72,119,0);
}


